[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DynareR"]
	path = DynareR
	url = https://github.com/sagirumati/dynarer
[submodule "EviewsR"]
	path = EviewsR
	url = https://github.com/sagirumati/eviewsr
[submodule "URooTab"]
	path = URooTab
	url = https://github.com/sagirumati/urootab
[submodule "gretlR"]
	path = gretlR
	url = https://github.com/sagirumati/gretlr
