[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EviewsR"]
	path = EviewsR
	url = https://github.com/sagirumati/eviewsr
	shallow = true
	registered = true
[submodule "gretlR"]
	path = gretlR
	url = https://github.com/sagirumati/gretlr
	shallow = true
	registered = true
